{
  "toggl": {
    "apiToken": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "userAgent": "your.email@example.org",
    "workspaceId": "123456",
    "since": "2014-08-01",
    "until": "2014-08-30"
  },
  "print": {
    "from": "2014-08-10",
    "until": "2014-08-20"
  }
}
